:root {
  --br-pink: #f0946e;
  --br-green: #caebda;
  /* --pink: #ffdcc9; 
  --dk-green: #349e72;
  --dk-pink: #ead3ca;
  --dk-blue: #22423d; */

  /* --black: #010101;
  --dk-grey: #5e5e5e;
  --grey: #b0adaf; 
  --lite-pink: #f3eae4;
  --li-pink: #fff4f8;
  --hot-pink: #f079f3; */

  --dk-green: #61892f;
  --green: #86c232;
  /* --li-green: #a3f333; */
  --black: #222629;
  --dk-grey: #474b4f;
  --grey: #6b6e70;
  --li-grey: #e0e0e0;
  --white: #ffffff;
}

html {
  font-size: 20px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

body {
  position: relative;
  margin: 0;
  color: var(--white);
}

* {
  box-sizing: border-box;
}



nav {
  position: fixed;
  top: 0;
  width: 100%;
  padding: 0px 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--black);
  overflow: hidden;
  height: 60px;
  z-index: 2;
}

nav > div {
  width: 50%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

a {
  display: inline-block;
  color: var(--dk-green);
  text-align: center;
  margin: 10px;
  padding: 6px 15px;
  text-decoration: none;
  font-weight: 700;
  border: 2px solid var(--li-grey);
  border-radius: 10px;
  background-color: var(--li-grey);
}


a:hover, .active {
  color: var(--green);
  background-color: var(--white);
  border: 2px solid var(--white);
  border-radius: 10px;
}

nav a {
  margin-right: 0px;
  color: var(--green);
  background-color: transparent;
  border: 2px solid transparent;
}

nav a:hover {
  color: var(--white);
  background-color: var(--green);
  border: 2px solid var(--green);
}

.move-left {
  position: relative;
  right: -50px;
  transition: transform 1s ease-in-out;
}

.move-right {
  position: relative;
  left: -50px;
  transition: transform 1s ease-in-out;
}

.container {
  width: 50%;
  margin: 0 auto;
  padding-top: 30px;
}

section {
  padding: 60px;
  text-align: left;
}

.title-sub {
  color: var(--dk-green);
}

.icon-sub {
  color: var(--green);
}

.bold {
  font-weight: 700;
}

.title-dk, .title-gr, .title-li {
  font-size: 40px;
  margin-top: 0px;
  margin-bottom: 15px;
  text-align: left;
}

.title-dk {
  color: var(--black);
}

.title-gr {
  color: var(--green);
}

.title-li {
  color: var(--white);
}



#about {
  min-height: 100vh;
  background-color: var(--black);
  color: var(--li-grey);
  /* background-image: url("public/titlebg2.png");
  background-size: cover;
  background-position: center center; */
}

#about .container-profile {
  display: flex;
  flex-direction: row;
  padding-top: 30px;
  justify-content: space-between;
}

#about .profile {
  width: 180px;
  height: 300px;
}

#about .profile-desc {
  width: 70%;
}


#about .lang-icons img {
  height: 50px;
}

#projects {
  background-color: var(--green);
  color: var(--li-grey);
}


#projects .title-project {
  font-size: 30px;
  color: var(--dk-grey);
  margin: 0px 0px 10px 0px;
}

#projects .container-project-full {
  margin: 30px 0;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

#projects .proj-description {
  /* text-align: justify; */
  width: 50%;
}

#projects .proj-img {
  height: 240px;
  width: 320px;
  transition: visibility 2s, opacity 2s, transform 0.5s ease-in-out;
}

#projects .project-links {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

#projects .project-links a {
  margin-left: 0;
}


#contact {
  min-height: 50vh;
  background-color: var(--black);
  color: var(--li-grey);
  /* background-image: url("public/contactbg4.png");
  background-size: cover;
  background-position: bottom center; */
}

button,
input,
textarea {
  margin: 0px;
  font-family: inherit;
  font-size: inherit;
}

#contact .container-contact {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
}

#contact .contact-form {
  width: 50%;
}

#contact .input-text {
  margin: 10px 0px;
  border-radius: 10px;
  display: block;
  width: 100%;
  height: 2.375rem;
  padding: 15px;
  border: 2px solid var(--dk-grey);
}

#contact .input-textarea {
  margin: 0px 0px 10px 0px;
  width: 100%;
  padding: 15px;
  min-height: 120px;
  resize: vertical;
  border: 2px solid var(--dk-grey);
  border-radius: 10px;
}

#contact a {
  color: var(--li-grey);
  background-color: transparent;
  border: 2px solid transparent;
}

#contact a:hover {
  color: var(--white);
  background-color: var(--green);
  border: 2px solid var(--green);
}

#contact button {
  background-color: var(--li-grey);
  display: inline-block;
  color: var(--dk-green);
  cursor: pointer;
  text-align: center;
  margin: 0px;
  padding: 6px 15px;
  font-weight: 700;
  border: 2px solid var(--li-grey);
  border-radius: 10px;
}

#contact button:hover {
  color: var(--white);
  background-color: var(--green);
  border: 2px solid var(--green);
}

#contact a {
  border: 2px dotted transparent;
}

#contact a:hover {
  border: 2px solid var(--green);
}

#contact .container-contact {
  padding-bottom: 80px;
}

.move-left.delay-1 {
  transition-delay: 0.2s;
}


.move-left.delay-2 {
  transition-delay: 0.4s;
}

.move-left.delay-3 {
  transition-delay: 0.6s;
}


.submitMsg {
  position: absolute;
  width: 100%;
  bottom: 2px;
  transition: visibility 1s, opacity 1s linear;
  visibility: visible;
  opacity: 1;
  text-align: center;
}

.submitMsg p {
  display: inline-block;
  padding: 10px 40px;
  border-radius: 10px;
  font-weight: 700;
}

.submitMsg p.success {
  background-color: var(--green);
}

.submitMsg p.error {
  background-color: var(--br-pink);
}

.hide {
  visibility: hidden;
  opacity: 0;
}

.offset-1 {
  margin-left: 3px;
}

@media (max-width: 1700px) {
  nav>div {
    width: 60%;
  }

  .container {
    width: 60%;
  }
}

@media (max-width: 1500px) {
  html {
    font-size: 18px;

  }

  nav>div {
    width: 65%;
  }

  .container {
    width: 65%;
    flex-direction: column;
  }

  .title-dk, .title-li, .title-gr {
    text-align: center;
  }

  #about {
    text-align: center;
  }

  #about .container-profile {
    display: flex;
    flex-direction: column;
  }

  #about .profile-desc {
    width: 100%;
  }

  #projects .container-project-full {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  #projects .container-project-full.even {
    flex-direction: column-reverse;
  }

  #projects .proj-description {
    /* text-align: justify; */
    width: 100%;
  }

  #projects .title-project {
    text-align: center;
  }

  #projects .project-links {
    justify-content: center;
  }

  #contact .container-contact {
    flex-direction: column;
    align-items: center;
  }

  #contact .contact-form {
    width: 100%;
    text-align: center;
  }
}

@media (max-width: 992px) {
  nav {
    padding: 0px;
  }

  section {
    padding: 30px 0;
  }

}

@media (max-width: 768px) {

  #logo {
    display: none;
  }

  nav>div {
    width: 70%;
    justify-content: center;
  }

  .container {
    width: 70%;
  }

  .move-left {
    right: -20px;
  }

  .move-right {
    left: -20px;
  }
}

@media (max-width: 576px) {
  html {
    font-size: 15px;
  }

  nav>div {
    width: 90%;
  }

  .container {
    width: 90%;
  }

  .title-dk,
  .title-li,
  .title-gr {
    font-size: 30px;
  }


  a {
    margin: 4px;
    padding: 6px 10px;
  }

  #about .profile {
    width: 120px;
    height: 200px;
  }

  #projects .title-project {
    font-size: 22px;
  }

  #projects .container-project-full {
    margin: 10px 0;
  }

  #projects .proj-img {
    height: 150px;
    width: 200px;
  }
}

@media (max-width: 300px) {
  html {
    font-size: 13px;
  }
}